<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmeasy Website</title>
	<!-- <link rel="icon" href=""> -->

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="../routes/script.js">
</head>
<body>
	<script id="cid0020000327258122408" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 400px;height: 600px;">{"handle":"farmeasy","arch":"js","styles":{"a":"a4eb76","b":100,"c":"000000","d":"000000","k":"a4eb76","l":"a4eb76","m":"a4eb76","p":"10","q":"a4eb76","r":100,"pos":"br","cv":1,"cvbg":"a4eb76","cvw":75,"cvh":30}}</script>	
	<header id="header" >
	
		<a href="/profile" class="logo"><span style="color: rgb(164, 235, 118);">farm</span>easy</a>
	
		<div id="menu-bar" class="fas fa-bars"></div>
	
		<nav class="navbar">
			<a href="#services">Services</a>
			<a href="#popular">Buy</a>
			<a href="/rental">Rental Service</a>
			<a href="/advisor">Advisory</a>
			<a href="#review">Reviews</a>
			<a href="/">Register</a>
			<a href="/login">Login</a>
			<a href="/logout">Logout</a>
		</nav>
	</header>
	
	<!-- header section ends -->
	
	<!-- home section starts  -->
	
	<section class="home" id="home">
	
		<div class="content">
			<h3 class="heading"><span>Farm</span>Easy </h3>
			<p>Farmeasy, an Online Support Rental and Advisory Website provides Multiple services to improve the standard of living for farmers, quality of crops in the market. Farmeasy works hardly to live upto the country’s Agricultural Nation Achievement.
			</p>
			<a href="/rental" class="btn">order now</a>
		</div>
	
		<div class="image">
			<img src="./images/smart-robotic.jpg" alt="ImageRobotic">
		</div>
	
	</section>
	
	<!-- home section ends -->
	
	<!-- services section starts  -->
	
	<section class="services" id="services">
	
		<h1 class="heading"> Our  <span> SERVICES</span> </h1>
	
		<div class="box-container">
	
			<div class="box">
				<img class="image" src="./images/rent.png" alt="">
				<div class="content">
					<!--<img src="images/s-1.png" alt=""> -->
					<h3>Rental Service</h3>
					<!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>   -->
					<ul type="none">
						<li><p>Quick and Easy</p></li>
						<li><p>Quality products</p></li>
						<li><p>Fast Service</p></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<img class="image" src="./images/discussion.png" alt="">
				<div class="content">
					<!-- <img src="images/s-2.png" alt=""> -->
					<h3>Advisor Services</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>   -->
					<ul type="none">
						<li><p>Trusted Advisor</p></li>
						<li><p>24 X 7 Online support</p></li>
						<li><p>Weekly Onsite Advices</p></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<img class="image" src="./images/payment-method.png" alt="">
				<div class="content">
					<!-- <img src="images/s-3.png" alt=""> -->
					<h3>Buying</h3>
					<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>   -->
					<ul type="none">
						<li><p>Genuine Products</p></li>
						<li><p>Good Quality</p></li>
						<li><p>Fast Delivery</p></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<img class="image" src="./images/info.png" alt="">
				<div class="content">
					<!-- <img src="images/s-4.png" alt=""> -->
					<h3>About Us</h3>
					<ul type="none">
						<li><p>Motivated & Qualified Team</p></li>
						<li><p>Honest</p></li>
						<li><p>Consistent</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<!-- services section ends -->
	
	<!-- popular section starts  -->
	
	<section class="popular" id="popular">
	
		<h1 class="heading"> Our <span>BUYING</span> Service </h1>
	
		<div class="box-container">
	
			<div class="box">
				<!-- <span class="price"> $5 - $20 </span>  --> 
				<img src="./images/corn_seeds.jpg" alt="">
				<h3>Corn Seeds</h3>
				<span class="price"> Price - Rs.15/kg</span>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<a href="https://buy.stripe.com/test_3cs8xZ9Wu50NcXC28j" class="btn"  >order now</a>
			</div>
			<div class="box">
				<!-- <span class="price"> $5 - $20 </span>  --> 
				<img src="./images/cotton_seeds.jpg" alt="">
				<h3>Cotton Seeds</h3>
				<span class="price"> Price - Rs.60/kg</span>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<a href="https://buy.stripe.com/test_28o9C3ecKal78Hm8wI" class="btn"  >order now</a>
			</div>
			<div class="box">
			   <!-- <span class="price"> $5 - $20 </span>  --> 
				<img src="../images/buy_seedRice.jpg" alt="">
				<h3>Rice Seeds</h3>
				<span class="price"> Price - Rs.280/kg</span>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<a href="https://buy.stripe.com/test_3cs9C3fgO50Ng9O14h" class="btn"  >order now</a>
			</div>
			<div class="box">
				<!-- <span class="price"> $5 - $20 </span>  --> 
				<img src="../images/buy_seedWheat.jpg" alt="">
				<h3>Wheat seeds</h3>
				<span class="price"> Price - Rs.60/kg</span>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<a href="https://buy.stripe.com/test_5kA5lNc4C2SF4r614i" class="btn">order now</a>
			</div>
		   
		</div>
	
	</section>
	
	<!-- popular section ends -->
	
	<!-- steps section starts  -->
	
	<div class="step-container">
	
		<h1 class="heading">how it <span>works</span></h1>
	
		<section class="steps">
	
			<div class="box">
				<img src="images/RegisterImageHomepage.png" alt="">
				<h3>Register to Farmeasy</h3>
			</div>
			<div class="box">
				<img src="images/RentalImageHomepage.png" alt="">
				<h3>Sign up for rental services</h3>
			</div>
			<div class="box">
				<img src="images/InvoiceImageHomepage.png" alt="">
				<h3>Get your Invoice</h3>
			</div>
			<div class="box">
				<img src="images/ExpertImageHomepage.png" alt="">
				<h3>On-farm Visit by Experts</h3>
			</div>
		
		</section>
	
	</div>
	
	<!-- steps section ends -->
	
	<!-- gallery section starts  -->
	
	<section class="gallery" id="gallery">
	
		<h1 class="heading"> Our <span> RENTAL </span> Services</h1> <!-- <a href="" class="btn" id="more-btn">More</a>  -->
	
		<div class="box-container">
	
			<div class="box">
				<img src="../images/rent_tractor.jpg" alt="">
				<div class="content">
					<h3>Tractor</h3>
					<p>Rental Price - </p>
					<p>₹25000 - ₹30000/month</p>
					<a href="#" class="btn"  >Rent now</a>
				</div>
			</div>
			<div class="box">
				<img src="../images/rent_harvester.jpg" alt="">
				<div class="content">
					<h3>Harvester</h3>
					<p>Rental Price - </p>
					<p>₹25000 - ₹30000/month</p>
					<a href="#" class="btn"  >Rent now</a>
				</div>
			</div>
			<div class="box">
				<img src="../images/rent_irrigation.jpg" alt="">
				<div class="content">
					<h3>Irrigation</h3>
					<p>Rental Price - </p>
					<p>₹10000 - ₹17500/month</p>
					<a href="#" class="btn"  >Rent  now</a>
				</div>
			</div>
			<div class="box">
				<img src="../images/rent_sprayer.jpg" alt="">
				<div class="content">
					<h3>Sprayer</h3>
					<p>Rental Price - </p>
					<p>₹3000-3500/month</p>
					<a href="#" class="btn"  >Rent  now</a>
				</div>
			</div>
		</div>
	
	</section>
	
	<!-- gallery section ends -->
	
	<!-- review section starts  -->
	
	<section class="review" id="advisory">
	
		<h1 class="heading"> Our <span>ADVISORY</span> Services </h1>
	
		<div class="box-container">
	
			<div class="box">
				<img src="images/pic1.png" alt="">
				<h3> Dr. Sunita Kumari</h3>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<p>EDUCATION: Post Graduate Diploma in Management (Agri Business Management) - PGDM(ABM)</p>
			</div>
			<div class="box">
				<img src="images/pic2.png" alt="">
				<h3>Mr. Ravi Parmar</h3>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<p>EDUCATION: Diploma in Agricultural Extension Services for Input Dealers</p>			
			</div>
			<div class="box">
				<img src="images/pic3.png" alt="">
				<h3>Mrs. Kamala Deep Singh</h3>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<p>EDUCATION: Agriculture Engineering</p>			
			</div>
	
		</div>
	
	</section>
	
	<!-- review section ends -->
	
	<!-- review section starts  -->
	
	<section class="review" id="review">
	
		<h1 class="heading"> Our Customer <span>REVIEWS</span> </h1>
	
		<div class="box-container">
	
			<div class="box">
				<img src="images/pic1.png" alt="">
				<h3>Yashasvi Patel</h3>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<p>Great service. Would gladly recommend them.Vert satisfied.</p>			
			</div>
			<div class="box">
				<img src="images/pic2.png" alt="">
				<h3>Atharva Puranik</h3>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<p>FarmEasy team is very helpful and gives regular updates on progress of my farm status.</p>
			</div>
			<div class="box">
				<img src="images/pic3.png" alt="">
				<h3>Sumita Sawant</h3>
				<div class="stars">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="far fa-star"></i>
				</div>
				<p>The site is easy to navigate and ordering was seamless.Quick and efficient delivery</p>
			</div>
	
		</div>
	
	</section>
	
	<!-- review section ends -->
	<!-- footer section  -->
	
	<section class="footer">
	
		<div class="share">
			<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjck_vw4pH7AhVDzzgGHYW4DyQQFnoECAsQAQ&url=https%3A%2F%2Fwww.facebook.com%2F&usg=AOvVaw2q27ov2cpCynr72DmuSqEz" class="btn">facebook</a>
			<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiFgbed45H7AhUn8zgGHeJVCMEQFnoECBMQAQ&url=https%3A%2F%2Ftwitter.com%2Flogin&usg=AOvVaw3swNPrVfKaBGiX8TGfSpkN" class="btn">twitter</a>
			<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjamtCR45H7AhWd8DgGHWnTCGwQFnoECA4QAQ&url=https%3A%2F%2Fwww.instagram.com%2F&usg=AOvVaw1cBeRoOpMhZ3-x5M1sA3Fm" class="btn">instagram</a>
			<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiZoP6n45H7AhUX7zgGHSZhA_8QFnoECAYQAQ&url=https%3A%2F%2Fin.pinterest.com%2F&usg=AOvVaw27xxbiSXBci9lSBkMFEcWA" class="btn">pinterest</a>
			<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjSzOev45H7AhWI8DgGHWhpCpMQFnoECAsQAQ&url=https%3A%2F%2Fwww.linkedin.com%2Flogin&usg=AOvVaw0Nm71ZUGxfI8ojRjO8H1X_" class="btn">linkedin</a>
		</div>
		<h1 class="credit"> created by <span> GROUP MAYS </span> | all rights reserved! </h1>  
	</section>
	
	<!-- scroll top button  -->
	<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
	
	<!-- loader  -->
	<!-- <div class="loader-container">
		<img src="../farming/giphy.gif" alt="">
	</div> -->
	
	
	<!-- custom js file link  -->
	<script src="../routes/script.js"></script>
	
	
	</body>
</html>
