<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rental services</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="../routes/script.js"></script>
    <body>

    <section class="popular" id="popular">

        <h1 class="heading"> most <span>popular</span> Products </h1>

        <div class="box-container">

            <div class="box" id="tractor">
                
                <img src="./images/rent_tractor.jpg" alt="">
                <h3 class="title">Tractor</h3>
                <h6 class="price" id="price" value=25000>Price - ₹25000</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_7sI5lNc4C2SF1eUbIL" target="_blank" class="btn" >Rent Now</a>
            </div>
            <div class="box" id="harvester">
                
                <img src="./images/rent_harvester.jpg" alt="">
                <h3>Harvester</h3>
                <h6 class="price" id = "price" value=30000>Price - ₹30000</h6>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_28o6pRfgO9h3e1G146" target="_blank" class="btn" >Rent Now</a>
            </div>
            <div class="box" id="sprayer">
                
                <img src="./images/rent_sprayer.jpg" alt="">
                <h3>Sprayer</h3>
                <h6 class="price" value=3000>Price - ₹3000</h6>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_aEU6pRfgOctf1eU28c" class="btn" target="_blank" >Rent Now</a>
            </div>
            <div class="box">
                
                <img src="./images/rent_irrigation.jpg" alt="">
                <h3>Irrigation</h3>
                <h6 class="price" value=10000>Price - ₹10000</h6>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_cN24hJfgO78VbTycMR" class="btn" target="_blank"   >Rent Now</a>
            </div>
        
        </div>

    </section>

    <section class="popular" id="popular">

        <h1 class="heading"><span></span>  </h1>

        <div class="box-container">

            <div class="box">
                
                <img src="./images/rent_seedRow.jpg" alt="">
                <h3>Seed Rower</h3>
                <h6 class="price" value=15000>Price - ₹15000</h6>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_4gwdSj8SqfFraPudQW" class="btn"  target="_blank" >Rent Now</a>
            </div>
            <div class="box">
                
                <img src="./images/rent_workers.jpg" alt="">
                <h3>Workers</h3>
                <h6 class="price" value=5000>Price - ₹5000</h6>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_eVacOf9WubpbcXC14b" class="btn" target="_blank" >Rent Now</a>
            </div>
            <div class="box">
                
                <img src="./images/rent_tank.jpg" alt="">
                <h3>Water Tank</h3>
                <h6 class="price" value=10000>Price - ₹10000</h6>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_aEU6pRecK1OB1eUaEM" class="btn" target="_blank"   >Rent Now</a>
            </div>
            <div class="box">
                
                <img src="./images/rent_cultivator.jpg" alt="">
                <h3>Cultivator</h3>
                <h6 class="price" value=20000>Price - ₹20000</h6>

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <a href="https://buy.stripe.com/test_fZeeWnc4Cal73n228h" class="btn" target="_blank"   >Rent Now</a>
            </div>
        
        </div>

    </section>


    <section class="gallery" id="gallery">

        <h1 class="heading"> More <span> RENTAL </span> Products </h1> 

        <div class="box-container">

            <div class="box">
                <img src="./images/rent_tractor.jpg" alt="">
                <div class="content">
                    <h3>Tractor</h3>
                    <p>Rental Price - </p>
                    <p>₹25000 - ₹30000/month</p>
                    <a href="" class="btn" target="_blank"   >Rent Now</a>
                </div>
            </div>
            <div class="box">
                <img src="./images/rent_harvester.jpg" alt="">
                <div class="content">
                    <h3>Harvester</h3>
                    <p>Rental Price - </p>
                    <p>₹25000 - ₹30000/month</p>
                    <a href="" class="btn" target="_blank"   >Rent Now</a>
                </div>
            </div>
            <div class="box">
                <img src="./images/rent_irrigation.jpg" alt="">
                <div class="content">
                    <h3>Irrigation</h3>
                    <p>Rental Price - </p>
                    <p>₹10000 - ₹17500/month</p>
                    <a href="" class="btn" target="_blank"   >Rent Now</a>
                </div>
            </div>
            <div class="box">
                <img src="./images/rent_sprayer.jpg" alt="">
                <div class="content">
                    <h3>Sprayer</h3>
                    <p>Rental Price - </p>
                    <p>₹3000-3500/month</p>
                    <a href="" class="btn"  target="_blank"  >Rent Now</a>
                </div>
            </div>
    

        <div class="box">
            <img src="./images/rent_workers.jpg" alt="">
            <div class="content">
                <h3>Workers</h3>
                <p>Rental Price - 10 Workers</p>
                <p>₹5000 - ₹7000/day</p>
                <a href="" class="btn" target="_blank"   >Rent Now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/rent_cultivator.jpg" alt="">
            <div class="content">
                <h3>Cultivator</h3>
                <p>Rental Price -</p>
                <p>₹20000 - ₹25000/month</p>
                <a href="" class="btn" target="_blank"   >Rent Now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/rent_tank.jpg" alt="">
            <div class="content">
                <h3>Water Tank</h3>
                <p>Rental Price - </p>
                <p>₹10000/month</p>
                <a href="" class="btn" target="_blank"   >Rent Now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/rent_seedRow.jpg" alt="">
            <div class="content">
                <h3>Seed Rower</h3>
                <p>Rental Price - </p>
                <p>₹15000 - ₹20000/month</p>
                <a href="" class="btn" target="_blank"   >Rent Now</a>
            </div>
        </div>

    </div>
    </section>


</body>
</html>